<app-header title="Autenticacion" ></app-header>
<ion-content>
  <div class="">
    <form
      [formGroup]="group"
      class="auth-form"
      (ngSubmit)="submit()"
      (keypress.enter)="submit()"
    >
      <app-custom-input
        autocomplete="email"
        icon="mail-outline"
        [control]="group.controls.email"
        type="email"
        [required]="true"
        label="Correo electrónico"
      ></app-custom-input>
      <app-custom-input
        label="Contraseña"
        type="password"
        [required]="true"
        icon="lock-closed-outline"
        [control]="group.controls.password"
      ></app-custom-input>
      <p class="ion-text-end" routerLink="forgot-password">
        ¿Olvidaste la contraseña?
      </p>
      <ion-button
        expand="block"
        shape="round"
        mode="ios"
        class="submit"
        type="submit"
        [disabled]="group.invalid"
      >
        Ingresar
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button
        expand="block"
        shape="round"
        mode="ios"
        class="submit"
        type="submit"
        routerLink="sign-up"
      >
        Iniciar sesion
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
