<app-header title="Cursos"></app-header>

<ion-content>
  <ion-segment [value]="selectedSegment" (ionChange)="segmentChanged($event)">
    <ion-segment-button
      *ngFor="let semester of semesters$ | async"
      [value]="semester"
    >
      <ion-label>{{ semester.name }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="subjects-container">
    <ion-card *ngFor="let subject of subjects" class="subject-card">
      <ion-card-header>
        <ion-card-title>{{ subject.name }}</ion-card-title>
        <ion-card-subtitle> {{ subject.credits }} Creditos </ion-card-subtitle>
        <div class="professor">
          <ion-icon name="person-outline"></ion-icon>
          {{ subject.professor }}
        </div>
      </ion-card-header>

      <ng-container *ngIf="isEnrolled(subject)">
        <ion-card-content>
          <div class="assignments-section">
            <h3>
              <ion-icon name="document-text-outline"></ion-icon>
              Asignaciones Pendientes
            </h3>

            <ng-container *ngIf="subject.assignments.length === 0">
              <p>No hay asignaciones pendientes</p>
            </ng-container>

            <ion-list>
              <ion-item
                *ngFor="let assignment of subject.assignments"
                class="assignment-item"
              >
                <ion-label>
                  <h2>{{ assignment.title }}</h2>
                  <p class="due-date">
                    <ion-icon name="calendar-outline"></ion-icon>
                    Fecha límite: {{ assignment.dueDate | date:'yyyy-MM-dd' }}
                  </p>
                </ion-label>
                <ion-button slot="end" (click)="navigateTarea(assignment.id)">
                  Ver
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
        </ion-card-content>
      </ng-container>

      <ng-container *ngIf="!isEnrolled(subject)">
        <ion-card-content>
          <ion-button (click)="registerSubject(subject)">
            Registrarse
          </ion-button>
        </ion-card-content>
      </ng-container>
    </ion-card>
  </div>
</ion-content>
